<html>
	<head>
		<title>
			Flask User Login
		</title>
	</head>
	<body>
		<h1> Login </h1>
		<form action = '/logmein' method = 'POST'>
			Username: <input type = 'text' name = 'username'>
			<br><br>
			<input type = 'submit' value = 'Submit'>
		</form>

		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class = 'flashes'>
				{% for message in messages %}
					<li> {{ message }} </li>
				{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
	</body>
</html>